body {
  background-color: pink;
}

.container{
  background-color: pink;
}
.fridgeId{
  text-align: center;
  color: white;
  background-color: #b3d9ff;
  border: 2px solid white;
  border-radius: 10px;
}

.recipeIcon{
    text-align: Left;
    background-color: White;
    color: black;
}

.recipeId{
  text-align: center;
  color: white;
  background-color: #b3d9ff;
  border: 2px solid white;
  margin-top: 20px;
}

.fridgeContainer{
  float: right;
}
