/* pink = #ff2a6b
  green = #bdde64
  orange = #fbc85c
 */

* {
  box-sizing: border-box;
}
.fridgeTable, .fridgeForm {
  width: 100%;
  margin-top: 4em;
}

.fridgeForm {
  outline-: #bdde64;
  border-color: #ff2a6b;
  border-radius: 5px;
}

  .fridgeForm .btn {
    background-color: #ff2a6b;
}

  .btn:active{
    background-color: #bdde64 !important;
 }
